/* EventList.css */

.event-list-section {
    padding: 2rem;
    margin: 2rem auto;
    color: #ffffff;
    text-align: center;
    background-color: rgb(51,51,51); /* Dark background for the entire section */
    width: 100%; /* Ensures the section spans the full width */
}

.event-list-container {
    max-width: 2000px; /* Same as the info-grid-container */
    display: flex;
    flex-direction: column; /* Keeps the events vertically stacked */
    padding: 0rem;
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 2000px;
}

.event-list-title {
    font-size: 2rem;
    color: var(--electric-blue);
    margin-bottom: 1.5rem;
    text-shadow: 0 0 5px var(--blue-glow), 0 0 10px var(--blue-glow);
}

@media (min-width: 768px) {
    .event-list-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns for wider screens */
    }
}

.event-card {
    background-color: rgb(40, 40, 40);
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.event-title {
    font-size: 1.5rem;
    color: var(--electric-blue);
    margin-bottom: 0.5rem;
}

.event-date {
    font-size: 1rem;
    color: #b0bec5;
    margin-bottom: 0.5rem;
}

.event-description {
    font-size: 1.1rem;
    color: #d1d5db;
    margin-bottom: 1rem;
}

.event-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.event-button:hover {
    background-color: #1f78b4;
}
