/* EventList.css */

.event-list-section {
    padding: 2rem;
    background-color: rgb(20,25,30);
    color: #ffffff;
    text-align: center;
    width: 100%;
    position: relative;
}

/* Bottom border for the entire section */
.event-list-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: 2px;
    background: var(--electric-blue);
    box-shadow: 
        0 0 10px rgba(147, 192, 190, 0.4), 
        0 0 20px rgba(147, 192, 190, 0.3);
}

/* Event List Title */
.event-list-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--electric-blue);
    margin-bottom: 1.5rem;
    text-shadow: 
        0 0 5px var(--blue-glow), 
        0 0 10px var(--blue-glow), 
        0 0 15px var(--blue-glow), 
        0 0 20px rgba(145,188,187, 0.6);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    position: relative;
}

/* Underline for the title */
.event-list-title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: 2px;
    background: var(--electric-blue);
    box-shadow: 
        0 0 10px rgba(147, 192, 190, 0.4), 
        0 0 20px rgba(147, 192, 190, 0.3);
}

/* Container for the event cards with a minimum height for multiple events */
/* Event List Container */
.event-list-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 1.5rem;
    max-width: 2000px;
    margin: 0 auto; /* Center the grid */
    padding: 1.5rem;
    min-height: 1000px;
    justify-content: center; /* Center aligns the event cards */
    align-items: flex-start;
}

/* Event Card */
.event-card {
    background-color: rgb(28,32,40);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #d1d5db;
    border: 1px solid rgba(147, 192, 190, 0.2);
    margin: 0 auto;
    height: auto; /* Removes any unnecessary height */
    width: 100%;
}

/* Optional: Lightening the box shadow for a subtle glow effect */
.event-card:hover {
    background-color: rgb(100, 100, 100); /* Further lightens on hover */
    box-shadow: 0 4px 20px rgba(145, 188, 187, 0.5);
}

.event-title {
    font-size: 1.5rem;
    color: var(--electric-blue);
    margin-bottom: 0.5rem;
    text-shadow: 0 0 5px var(--blue-glow), 0 0 10px var(--blue-glow);
    font-weight: 700;
}

.event-date {
    font-size: 1rem;
    color: #b0bec5;
    margin-bottom: 0.5rem;
}

.event-description {
    font-size: 1.1rem;
    color: #d1d5db;
    margin-bottom: 1rem;
}

.event-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.event-button:hover {
    background-color: #1f78b4;
    transform: scale(1.05);
}
